html {
    font-size: 14px;
    font-family: 'Fraunces', serif;
    background-color: hsl(30, 38%, 92%);
    padding-top: 7.5%;
}

body{
    width: 95%;
    height: auto;
}

@media only screen and (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "image info";
        margin: 0 auto;
        width: 35%;
        border-radius: 10px;
        color: hsl(212, 21%, 14%);
        background-color: hsl(0, 0%, 100%);
    }

    .image-desktop {
        content: url("./images/image-product-desktop.jpg");
        max-width: 100%;
        max-height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .info > h3 {
        font-family: 'Montserrat', sans-serif;
        padding-left: 1.5rem;
        
    }

    .info > h2 {
        font-weight: 700;
        font-size: 2rem;
        padding-left: 1.5rem;
        width: 80%;
        
    }

    .info > p {
        font-family: 'Montserrat', sans-serif;
        padding-left: 1.5rem;
    }

    #description {
        width: 95%;
        margin: 0 auto;
    }

    .price-container {
        width: 80%;
        margin: 0 auto;
    }

    .discount {
        display: inline-flex;
        justify-content: space-around;
    }

    #sale {
        font-size: 2rem;
        color: hsl(158, 36%, 37%);
    }

    #orginal {
        color: hsl(228, 12%, 48%);
        text-decoration: line-through;
    }

    .cart-add {
        background-color: hsl(158, 36%, 37%);
        border-radius: 10px;
        padding: 0.75rem 3rem;
        border: 1px solid hsl(158, 36%, 37%);
        color: hsl(0, 0%, 100%);
        cursor: pointer;
        margin: 0 auto;
    }

    .cart-add img {
        padding: 0 1rem;
    }

    footer {
        text-align: center;
        padding-top: 1.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        margin: 0 auto;
        width: 90%;
        border-radius: 10px;
        color: hsl(212, 21%, 14%);
        background-color: hsl(0, 0%, 100%);
    }

    .image-desktop {
        content: url("./images/image-product-mobile.jpg");
        width: 100%;
        height: 100%;

    }

    .info > h3 {
        font-family: 'Montserrat', sans-serif;
        padding-left: 1.5rem;
        
    }

    .info > h2 {
        font-weight: 700;
        font-size: 2rem;
        padding-left: 1.5rem;
        width: 80%;
        
    }

    .info > p {
        font-family: 'Montserrat', sans-serif;
        padding-left: 1.5rem;
    }

    #description {
        width: 95%;
        margin: 0 auto;
    }

    .price-container {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .discount {
        display: inline-flex;
    }

    #sale {
        font-size: 2rem;
        color: hsl(158, 36%, 37%);
    }

    #orginal {
        color: hsl(228, 12%, 48%);
        text-decoration: line-through;
    }

    .cart-add {
        background-color: hsl(158, 36%, 37%);
        border-radius: 10px;
        padding: 0.75rem 3rem;
        border: 1px solid hsl(158, 36%, 37%);
        color: hsl(0, 0%, 100%);
    }

    .cart-add img {
        padding: 0 1rem;
    }

    footer {
        text-align: center;
        padding-top: 1.5rem;
    }
}
